body {
  background-image: url("icons/dscf3074.jpg");
}

.pictdiv {
  width:100px;
  height:96px;
  text-align:center;
  vertical-align:middle;
  margin:0 auto;
  background-color:#ededed;
  white-space:nowrap;
}

.pict {
  max-width:96px;
  max-height:96px;
  vertical-align:middle;
}

.helper {
  display:inline-block;
  height:100%;
  vertical-align:middle;
}

.container {
  float:left;
  width:140px;
  height:140px;
  background-color:gray;
  margin-right:15px;
  margin-bottom:15px;
  text-align:center;
  background-color:#999999;
  opacity:0.9;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;

}

.descr {
  text-align:center;
  background-color:inherit;
  min-height:20px;
  padding:5px;
}

a {
  color:black;
  decoration:none;
  font-weight:bold;
}

