.hwrap {
  overflow: hidden;
  height: $hirblokkHeight;
}
.hmove {
  display: flex;
}
.hitem {
  position: absolute;
  flex-shrink: 0;
  width: 60%;
  margin-left: 20%;
  margin-top: 12px;
  background-color: #eaeaea;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  opacity:0;
  animation: fade 30s linear infinite;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 3px 5px #555;
}
.hitem > img {
  max-height: $hirblokkHeight*0.6;
  border: 1px solid black;
  box-shadow: 3px 5px #bbb;
}
.hmove:hover {
  animation-play-state: paused
}
@keyframes fade {
  0% { opacity:0;}
  26.6% {opacity:1;}
  33.3% {opacity:0;}
}
.hitem1 {
  animation-delay: 0s;
}
.hitem2 {
  animation-delay: 10s;
}
.hitem3 {
  animation-delay: 20s;
}

