#iconmenu {
  width: 100%;
  table-layout: fixed;
}
.iconmenuitem {
  width: $imiwidth;
  height: $imiheight;
}
.iconmenuitem:hover {
  background-color: #ddd;
  width: 1.05*$imiwidth;
  height: 1.05*$imiheight;
}
.iconmenuitem_icon > img {
  width: $imi_iconwidth;
  max-width: $imi_iconwidth;
  height: $imi_iconheight;
}
