#iconmenu {
  width: 99%;
  display: grid;
  // 4 menüpont
  grid-template-columns: 20% 20% 20% 20%;
  grid-column-gap: 5%;
  padding-left: 2.5%;
  @include small-screen {
    grid-template-columns: 35% 35%;
    grid-column-gap: 15%;
    padding-left: 2%;
    grid-row-gap: 6%;
  }
}

.iconmenuitem {
  width: $imiwidth;
  height: $imiheight;
  &:hover {
    background-color: #ddd;
    width: 1.05*$imiwidth;
    height: 1.05*$imiheight;
  }
}

.iconmenu_big > a > .iconmenuitem {
  height: 1.4*$imiheight;
}

.iconmenuitem_icon > img {
  width: $imi_iconwidth;
  max-width: $imi_iconwidth;
  height: $imi_iconheight;
}

#newsmenu {
  width: 99%;
  display: grid;
  // 3 menüpont
  grid-template-columns: 25% 25% 25%;
  grid-column-gap: 5%;
  padding-left: 7%;
  @include small-screen {
    grid-template-columns: 90%;
    padding-left: 4%;
  }
}
