$iconmenuitemWidth: 12em;
$iconmenuitemHeight: 6em;
$iconmenuitem_iconWidth: 4em;

.icomenu {
  width: 100%;
  table-layout: fixed;
}

.iconmenuitem {
  width: $iconmenuitemWidth;
  height: $iconmenuitemHeight;
  display: inline-block;
  border: 1px solid black;
  box-shadow: 3px 5px #555;
  padding: 1em;
  background-color: $menuSelectedBG;
}

.iconmenuitem:active {
  box-shadow: 0px 0px;
  border: 1px green;
  padding-left: 1em;
}

.iconmenuitem_icon {
  text-align: center;
  width: 100%;
}

.iconmenuitem_icon > img {
  width: $iconmenuitem_iconWidth;
}

.iconmenuitem_text {
  text-align: center;
  color: #A95534;
}
