// ************
// Menürendszer
// https://www.w3schools.com/Css/css_navbar.asp
// ************
$menuBG:#ccc;
$menuNormalC:black;
$menuNormalHBG:white;
$menuSelectedBG:#aaa;
$menuWidth:200px;

#menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: $menuWidth;
  height: 100%;

  background-color: $menuBG;
  font-weight: bold;
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
%normal_menu {
  display: block;
  text-align: center;
  padding: 14px 16px;
  height: 100%;
}
%normal_menu_href {
  color:  $menuNormalC;
  text-decoration: none;
}
.normal_menu {
  @extend %normal_menu;
  @extend %normal_menu_href;
}
.normal_menu:hover {
  background-color:  $menuNormalHBG;
}
.selected_menu {
  @extend %normal_menu;
  @extend %normal_menu_href;
  background-color: $menuSelectedBG;
}
#main {
  margin-left: $menuWidth+5px;
  padding-top: 5px;
}

// **************
// Bemutatkozások
// **************
thead td {
  font-weight: bold;
}
table tbody tr:nth-child(odd) td {
  background-color: #ddd;
}
table tbody tr:nth-child(even) td {
  background-color: #fff;
}
table tbody tr td a {
  text-decoration: none;
  color: black;
  width: 100%;
  display: block;
  font-weight: bolder;
}
table tbody tr td:nth-child(1):hover {
  background-color: #aaa;
}
.tag {
  float: left;
  display:table-row;

  border-color:#444;
  border-bottom-style:solid;
  border-left-style: dotted;

  padding-left:6px;
  padding-top:10px;
  padding-bottom:4px;
}
.hrefvissza {
  float: right;
}
.tag .tagnev {
  font-weight: bold;
}
.tag .tagleiras {
  padding: 12px;
  float: none;
  display:table-cell;
}
.tag .tagimg {
  float: left;
  width: 200px;
  display:table-cell;
}
