h1,h2 {
  line-height: 1.2;
}
// ************
// Menürendszer
// https://www.w3schools.com/Css/css_navbar.asp
// ************
$menuBG:#ccc;
$menuNormalC:black;
$menuNormalHBG:white;
$menuSelectedBG:#aaa;
$menuWidth:200px;
$mainMinWidth:500px;
$mainMaxWidth:850px;
$bannerMinWidth:200px;

#menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: $menuWidth;
  height: 100%;

  background-color: $menuBG;
  font-weight: bold;

  float: left;

  padding-left:5px;
  padding-right:5px;
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
%normal_menu {
  display: block;
  text-align: center;
  padding: 14px 16px;
  height: 100%;
}
%normal_menu_href {
  color:  $menuNormalC;
  text-decoration: none;
}
.normal_menu {
  @extend %normal_menu;
  @extend %normal_menu_href;
}
.normal_menu:hover {
  background-color:  $menuNormalHBG;
}
.selected_menu {
  @extend %normal_menu;
  @extend %normal_menu_href;
  border: 1px solid black;
  border-radius: 5px;
  background-color: $menuSelectedBG;
}
body {
  background-image: url("/pict/logo-tr.png");
}
#main {
  margin-left: $menuWidth+5px;
  padding-top: 5px;
  max-width: $mainMaxWidth;
  color: #444;
  font-size: 16px;
  line-height: 1.4;
  float: left;
}
#banner {
  width: $bannerMinWidth;
  height: 100%;

  float: left;

  background-image: url("/pict/logo.png");
  background-color: red;
}

// **************
// Bemutatkozások
// **************
#mt_nevjegyek {
  margin-left: $menuWidth+5px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}
#mt_nevjegyek a {
  text-decoration: none;
  color: black;
}
.tagnevjegy {
  border: 2px solid black;
  border-radius: 15px 20px 30px 5px;
  box-shadow: 3px 5px #555;

  float: left;

  width: 300px;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;

  font-size: 14px;

  background-color: rgba(20,20,20,0.25);
}
.tagnevjegy img {
  max-width: 64px;
  max-height: 90px;
  padding-right: 10px;
  float: left;
}
.tagnevjegy_nev {
  font-weight: bold;
}
.tagnevjegy_vegz {
  font-style: italic;
}
.tagnevjegy_eko {
  font-style: normal;
}
.tag {
  float: left;
  display:table-row;

  border-color:#444;
  border-bottom-style:solid;
  border-left-style: dotted;

  padding-left:6px;
  padding-top:10px;
  padding-bottom:4px;
}
.hrefvissza {
  float: right;
}
.tag .tagnev {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
}
.tag .tagleiras {
  padding: 12px;
  float: none;
  display:table-cell;
}
.tag .tagimg {
  float: left;
  width: 200px;
  display:table-cell;
}
