/* $Id$ */
.tbmovie:nth-child(odd) {
  background-color:#adad85;
}

.tbmovie:nth-child(even) {
  background-color:#ccccb3;
}

tbody .tbmovie:hover {
  background-color:#999966;
}

th {
  color:#eeeeee;
  text-shadow:1px 1px gray;
  background-color:#6b6b47;
}

body {
  background-color:#ebebe0;
}

caption {
  caption-side:bottom;
}

img {
  width:32px;
  height:32px;
}

.tdimg {
  text-align:center;
}

.tdhutitle {
  font-weight:bold;
}

.tdentitle {
  font-weight:bold;
  font-style:italic;
}

.tdcontent {
  font-style:italic;
}

#ordernav a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}

.normal {
  color: grey;
  font-size:0.9em;
  font-style: italic;
}

.current {
  color: #6b6b47;
  font-weight: bold;
  font-size:1.2em;
}

table {
  width: 100%;
}
.tdhutitle {
  width: 20em;
}
.tdentitle {
  width: 20em;
}
.content {
  display: none;
}
.cbcontent {
  display: none;
}
.lbcontent {
  font-style: normal;
  background-color: #ad8585;
  color: white;
  box-shadow: 3px 3px grey;
}
.lbcontent:hover {
  cursor: grab;
}
.cbcontent:checked + .content {
  display: inline-block;
}
